{% extends 'website/layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div style="background-color: #f3f0ff; padding: 100px; border-radius: 8px; max-width: 600px; margin: 40px auto; min-height: 100vh;">
    <div
    
    <h2 style="color: #6c5ce7;">About</h2>

    <p style="color: #2d3436; font-size: 1.05rem;">
        This is the contact page.
    </p>

    <hr style="border: 1px solid #dfe6e9; margin: 15px 0;">

    <p style="color: #0984e3;">
        Hey there! You can contact us at abc@gmail.con
    </p>
    <p style="color: #0984e3;"> 
        Or you can also call us at 1234567890.
    </p>

</div>
{% endblock %}
